.about {
    // .about__container

    &__container {
    }

    // .about__body

    &__body {
    }

    // .about__advantages

    &__advantages {
        @include adaptive-value("margin-top", 112, 85, 1);
        @include adaptive-value("margin-bottom", 75, 50, 1);

        ol {
            display: flex;

            @media (max-width: 768px) {
                display: block;
            }

            & > :not(:last-child) {
                @media (min-width: 769px) {
                    @include adaptive-value("margin-right", 40, 0, 1);
                }

                @media (max-width: 768px) {
                    margin-bottom: 85px;
                }
            }

            & > :first-child {
                @media (min-width: 769px) {
                    max-width: 400px;
                    @include adaptive-value("height", 200, 100, 1);
                }

                @media (max-width: 768px) {
                    @include adaptive-value("height", 200, 160, 1);
                }

                span {
                    @media (min-width: 769px) {
                        @include adaptive-value("padding-left", 20, 10, 1);
                    }
                }
            }

            & > :nth-child(2) {
                @media (min-width: 769px) {
                    max-width: 453px;
                    @include adaptive-value("height", 260, 140, 1);
                }

                @media (max-width: 768px) {
                    @include adaptive-value("height", 260, 180, 1);
                }

                span {
                    @media (min-width: 769px) {
                        @include adaptive-value("padding-left", 40, 20, 1);
                    }
                }
            }

            & > :last-child {
                @media (min-width: 769px) {
                    max-width: 506px;
                    @include adaptive-value("height", 320, 160, 1);
                }

                @media (max-width: 768px) {
                    @include adaptive-value("height", 320, 200, 1);
                }

                span {
                    @media (min-width: 769px) {
                        @include adaptive-value("padding-left", 80, 40, 1);
                    }
                }
            }

            li {
                border: 6px solid $green;
                border-top: 0;
                width: 100%;
                position: relative;
                @include adaptive-value("padding", 40, 20, 1);

                @media (max-width: 768px) {
                    display: flex;
                    align-items: center;
                }

                span {
                    font-weight: 700;
                    color: $green;
                    display: block;
                    position: absolute;
                    top: 0;
                    left: -6px;
                    transform: translate(0, -73%);
                    width: calc(100% + 12px);
                    overflow: hidden;

                    @media (min-width: 769px) {
                        @include adaptive-value("font-size", 90, 40, 1);
                    }

                    @media (max-width: 768px) {
                        @include adaptive-value("font-size", 90, 60, 1);

                        padding-left: 20px;
                    }

                    i {
                        font-style: normal;
                        width: fit-content;
                        position: relative;

                        &:before,
                        &:after {
                            position: absolute;
                            content: "";
                            bottom: 22%;
                            height: 6px;

                            background-color: $green;
                        }

                        &:before {
                            width: 140px;
                            left: -6px;
                            transform: translate(-100%, 0);
                        }

                        &:after {
                            width: 700px;
                            right: 0;
                            transform: translate(100%, 0);
                        }
                    }
                }

                label {
                    display: block;
                    font-weight: 400;
                    color: $green;

                    @media (min-width: 769px) {
                        @include adaptive-value("font-size", 45, 20, 1);
                    }

                    @media (max-width: 768px) {
                        @include adaptive-value("font-size", 45, 30, 1);
                    }
                }
            }
        }
    }

    // .about__info

    &__info {
        margin-bottom: 50px;

        @media (min-width: 769px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        img {
            @media (min-width: 769px) {
                @include adaptive-value("width", 450, 230, 1);
                height: 360px;
            }

            object-fit: cover;
            display: block;

            @media (max-width: 768px) {
                width: 100%;
                @include adaptive-value("height", 360, 170, 1);
                @include adaptive-value("margin-bottom", 20, 10, 1);
            }
        }

        div {
            color: $color;
            font-weight: 500;

            @media (min-width: 769px) {
                @include adaptive-value("padding-left", 40, 0, 1);
            }

            h4 {
                @media (min-width: 769px) {
                    display: flex;
                }

                @media (max-width:768px){
                    br{
                        display: none;
                    }
                }

                text-transform: uppercase;

                @include adaptive-value("margin-bottom", 40, 20, 1);

                label {
                    @include adaptive-value("font-size", 30, 16, 1);

                    @media (min-width: 769px) {
                        margin-right: 20px;
                    }
                }

                span {
                    @include adaptive-value("font-size", 22, 16, 1);
                }
            }

            p {
                @include adaptive-value("font-size", 22, 16, 1);
                font-weight: 400;
            }
        }

        &._reverse {
            @media (min-width: 769px) {
                flex-direction: row-reverse;

                div {
                    padding-left: 0 !important;
                    @include adaptive-value("padding-right", 40, 0, 1);
                }
            }
        }
    }
}
