.intro {
    position: relative;

    &:after {
        position: absolute;
        content: "";
        left: 0;
        bottom: 0;
        z-index: -1;
        width: 100%;
        @include adaptive-value('height', 133, 75, 1);
        background: linear-gradient(180deg, rgba(56, 58, 64, 0) 0%, #383a40 100%);
    }

    // .intro__container

    &__container {
    }

    // .intro__body

    &__body {
        min-height: 100vh;
        @include adaptive-value("padding-top", 233, 135, 1);
        @include adaptive-value("padding-bottom", 100, 50, 1);

        h1 {
            @include adaptive-value("margin-bottom", 80, 67, 1);
        }

        p {
            font-weight: 500;
            color: #ffffff;
            @include adaptive-value("font-size", 30, 20, 1);

            @media (min-width: 769px) {
                border-left: 4px solid #fff;
                padding-left: 40px;

                & > :nth-child(2) {
                    padding-left: 1em;
                }

                & > :nth-child(3) {
                    padding-left: 2em;
                }
            }

            span {
                display: block;
            }
        }

        ul {
            display: none;

            @media (max-width:768px){
                display: block;
                margin-top: 40px;
            }

            & > :not(:last-child) {
                margin-bottom: 10px;
            }

            li {
                a {
                    font-weight: 500;
                    font-size: 16px;
                    color: #ffffff;
                }
            }
        }
    }

    .background {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;

        &:before {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba($color: #000000, $alpha: 0.3);
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            display: block;
        }
    }
}
