.search {
    &__popup {
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 11;
        background-color: rgba($color: #000000, $alpha: 0.5);

        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        transition: all 0.3s ease 0s;

        &._open {
            visibility: visible;
            opacity: 1;
            pointer-events: all;

            .search__content {
                transform: translate3d(0, 0, 0);
            }
        }
    }

    // .search__body

    &__body {
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: 768px) {
            @include adaptive-value("padding-top", 233, 100, 1);
            align-items: flex-start;
            height: auto;
        }
    }

    // .search__content

    &__content {
        width: 900px;

        position: relative;

        transition: all 0.3s ease 0s;
        transform: translate3d(0, -200px, 0);

        @media (max-width: 992px) {
            width: calc(100% - 30px);
            margin-inline: auto;
            padding-top: 30px;
        }

        form {
            background-color: #fff;
            height: 60px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-radius: 10px;

            @media (max-width: 768px) {
                height: 45px;
            }

            input {
                &:not([type="submit"]) {
                    color: $color;
                    font-weight: 400;
                    display: block !important;
                    flex: 1 1 auto;
                    height: auto !important;

                    @media (min-width: 1441px) {
                        padding-inline: 15px !important;
                        font-size: 20px !important;
                    }

                    @media (max-width: 1440px) {
                        padding-inline: calc(10px + 5 * ((100vw - 320px) / 1120)) !important;
                        font-size: calc(16px + 4 * ((100vw - 320px) / 1120)) !important;
                    }

                    @media (max-width: 320px) {
                        padding-inline: 10px !important;
                        font-size: 16px !important;
                    }

                    @media (max-width: 375px) {
                        max-width: 187px;
                    }
                }
            }

            button,
            input[type="submit"] {
                margin-right: 0 !important;
                position: static !important;
                height: 100%;
                color: #fff;
                background-color: $green;
                font-weight: 500 !important;
                cursor: pointer;
                transition: all 0.3s ease 0s;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
                border: none !important;

                @media (any-hover: hover) {
                    &:hover {
                        background-color: green;
                    }
                }

                @media (min-width: 1441px) {
                    padding-inline: 20px !important;
                }

                @media (max-width: 1440px) {
                    @include adaptive-value("padding-inline", 20, 15, 1);
                }

                @media (max-width: 320px) {
                    padding-inline: 15px !important;
                }
            }
        }
    }

    // .search__close

    &__close {
        display: block;
        margin-left: auto;
        margin-bottom: 20px;

        @media (any-hover: hover) {
            &:hover {
                img,
                svg {
                    rotate: 180deg;
                }
            }
        }

        img,
        svg {
            pointer-events: none;
            width: 25px;
            height: 25px;
            transition: all 0.3s ease 0s;

            @media (max-width: 768px) {
                width: 20px;
                height: 20px;
            }
        }
    }

    // .search__results

    &__results {
        max-width: 1100px;

        @media (max-width: 1160px) {
            max-width: none;
        }

        & > :not(:last-child) {
            @include adaptive-value("margin-bottom", 40, 20, 1);
        }

        article {
            @include adaptive-value("padding-top", 20, 10, 1);
            @include adaptive-value("padding-left", 20, 15, 1);
            @include adaptive-value("padding-right", 20, 15, 1);
            @include adaptive-value("padding-bottom", 30, 20, 1);
            box-shadow: 0px 0px 8px 0px rgba($color: #000000, $alpha: 0.25);
            border-radius: 20px;

            @media (max-width: 768px) {
                box-shadow: 0px 0px 4px 0px rgba($color: #000000, $alpha: 0.25);
            }

            h3 {
                @include adaptive-value("font-size", 22, 16, 1);
                @include adaptive-value("margin-bottom", 30, 20, 1);
                color: $green;
                font-weight: 500;
                text-transform: uppercase;
                margin-top: 0 !important;

                a {
                    color: currentColor;
                }
            }

            p {
                color: $color;
                font-weight: 400;
                @include adaptive-value("font-size", 20, 14, 1);
            }

            .read-more {
                color: $green;
            }
        }
    }
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
    -webkit-appearance: none;
}

.is-ajax-search-result {
    width: 100% !important;
    max-width: 900px !important;
    left: 50% !important;
    transform: translate(-50%, 10px);
    padding: 0 !important;
    border-radius: 10px !important;
    background-color: transparent !important;

    @media (max-width: 910px) {
        max-width: calc(100% - 30px) !important;
    }

    @media screen and (max-width: 510px) {
        left: 15px !important;
        transform: translate(12px, 10px);
    }
}

.is-ajax-search-items {
    border-radius: 10px !important;
}

.search__search-form {
    @include adaptive-value("margin-bottom", 50, 30, 1);

    form {
        background-color: #fff;
        height: 60px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 1100px;
        padding-left: 0 !important;

        @media (max-width: 768px) {
            height: 45px;
        }

        label {
            display: flex;
            align-items: center;
            flex: 1 1 auto;
            height: 100%;
        }

        input {
            height: 100%;
            &:not([type="submit"]) {
                border-radius: 10px 0 0 10px;
                border: 1px solid $green;

                color: $color;
                font-weight: 400;
                display: block !important;
                flex: 1 1 auto;
                height: 100% !important;
                border: 1px solid none !important;

                @media (min-width: 1441px) {
                    padding-inline: 20px !important;
                    font-size: 20px !important;
                }

                @media (max-width: 1440px) {
                    padding-inline: calc(10px + 5 * ((100vw - 320px) / 1120)) !important;
                    font-size: calc(16px + 4 * ((100vw - 320px) / 1120)) !important;
                }

                @media (max-width: 320px) {
                    padding-inline: 10px !important;
                    font-size: 16px !important;
                }
            }
        }

        button,
        input[type="submit"] {
            position: static !important;
            @include adaptive-value("padding-inline", 15, 10, 1);
            height: 100%;
            color: #fff;
            background-color: $green;
            font-weight: 500 !important;
            cursor: pointer;
            transition: all 0.3s ease 0s;
            border-radius: 0 10px 10px 0;

            @media (any-hover: hover) {
                &:hover {
                    background-color: green;
                }
            }

            @media (min-width: 1441px) {
                padding-inline: 15px !important;
            }

            @media (max-width: 1440px) {
                padding-inline: calc(10px + 5 * ((100vw - 320px) / 1120)) !important;
            }

            @media (max-width: 320px) {
                padding-inline: 10px !important;
            }
        }
    }
}
