.text {
    // .text__container

    &__container {
    }

    // .text__body

    &__body {
        @include adaptive-value("padding-top", 233, 135, 1);

        p {
            font-weight: 500;
            @include adaptive-value("font-size", 22, 16, 1);
            color: $color;
            margin-bottom: 1em;
        }

        h3,
        h4,
        h5 {
            font-weight: 600;
            @include adaptive-value("font-size", 22, 16, 1);
            color: $color;
            margin-bottom: 1.5em;
            margin-top: 1.5em;
        }
    }

    // .text-404

    &-404 {
        text-align: center;

        p {
            @include adaptive-value("font-size", 45, 20, 1);
        }

        a {
            @include adaptive-value("font-size", 18, 16, 1);
            color: $green;
            font-weight: 500;
        }
    }

    // .text-privacy

    &-privacy {
        a {
            color: $green;
        }
    }
}
